<a href="https://colab.research.google.com/github/p3dr3nriqu3/boocamp_alura/blob/main/Pedro_Henrique_Desafio_Modulo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Resumo:
Faça aqui o resumo das suas analises, destacando os pontos principais do seu projeto

## Análise dos dados:

Inicie aqui o desenvolvimento do seu projeto, não esqueça de adicionar textos curtos e objetivos para que os avaliadores entendam sua linha de raciocínio e as conclusões que você está chegando crie uma narrativa convincente e coerênte aos dados analisados.

## Definição do Projeto: 
Caso Covid-19

In [1]:
url = "/content/drive/MyDrive/Bootcamp/Modulo 1/Projeto Final/caso.csv"

## Importando as Bibliotecas:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import  matplotlib.ticker as ticker 
import seaborn as sns

In [3]:
pd.options.display.float_format = "{:,.2f}".format

## Análises:

In [4]:
#Lendo a base covid-19 que está em "Definição do Projeto".
dados = pd.read_csv(url)

In [5]:
#Uma pequena visualização aleatória para conhecer a base e suas variáveis.
dados.sample(5)

              date state  ... confirmed_per_100k_inhabitants death_rate
879941  2020-05-03    SP  ...                           8.05       0.00
648186  2020-07-31    RR  ...                       2,194.82       0.01
189057  2020-05-14    BA  ...                           8.44       0.00
345010  2020-07-17    PB  ...                         257.73       0.00
854028  2020-09-29    SC  ...                       3,207.24       0.01

[5 rows x 13 columns]

In [6]:
#Existem informações nulas no dataset de acordo com info, nos campos: city, estimated_population_2019, etimated_population, city_ibge_code and confirmed_per_100k_inhabitants.
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974824 entries, 0 to 974823
Data columns (total 13 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   date                            974824 non-null  object
 1   state                           974824 non-null  object
 2   city                            968230 non-null  object
 3   place_type                      974824 non-null  object
 4   confirmed                       974824 non-null  int64
 5   deaths                          974824 non-null  int64
 6   order_for_place                 974824 non-null  int64
 7   is_last                         974824 non-null  bool
 8   estimated_population_2019       971052 non-null  float64
 9   estimated_population            971052 non-null  float64
 10  city_ibge_code                  971052 non-null  float64
 11  confirmed_per_100k_inhabitants  957481 non-null  float64
 12  death_rate                      974824 non-null  float64
dtypes: bool(1), float64(5), int64(3), object(4)
memory usage: 90.2+ MB

In [7]:
#Alterando o tipo da coluna date apra Datetime.
dados['date'] = pd.to_datetime(dados['date'],yearfirst=True)

In [8]:
#Conferindo a alteração do tipo do campo date.
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974824 entries, 0 to 974823
Data columns (total 13 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   date                            974824 non-null  datetime64[ns]
 1   state                           974824 non-null  object
 2   city                            968230 non-null  object
 3   place_type                      974824 non-null  object
 4   confirmed                       974824 non-null  int64
 5   deaths                          974824 non-null  int64
 6   order_for_place                 974824 non-null  int64
 7   is_last                         974824 non-null  bool
 8   estimated_population_2019       971052 non-null  float64
 9   estimated_population            971052 non-null  float64
 10  city_ibge_code                  971052 non-null  float64
 11  confirmed_per_100k_inhabitants  957481 non-null  float64
 12  death_rate                      974824 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(5), int64(3), object(3)
memory usage: 90.2+ MB

In [9]:
#De acordo com a documentação irei excluir a coluna "estimated_population_2019", por possuir valores desatualizados.
dados = dados.drop('estimated_population_2019', axis=1)
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974824 entries, 0 to 974823
Data columns (total 12 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   date                            974824 non-null  datetime64[ns]
 1   state                           974824 non-null  object
 2   city                            968230 non-null  object
 3   place_type                      974824 non-null  object
 4   confirmed                       974824 non-null  int64
 5   deaths                          974824 non-null  int64
 6   order_for_place                 974824 non-null  int64
 7   is_last                         974824 non-null  bool
 8   estimated_population            971052 non-null  float64
 9   city_ibge_code                  971052 non-null  float64
 10  confirmed_per_100k_inhabitants  957481 non-null  float64
 11  death_rate                      974824 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 82.7+ MB

In [10]:
#Adcionando coluna de número de óbitos por 100.000 habitantes
dados['deaths_covid_per_100K_inhabitants'] = dados['deaths']/(dados['estimated_population']/100000)

In [11]:
dados.head()

        date state  ... death_rate deaths_covid_per_100K_inhabitants
0 2020-11-15    AP  ...       0.01                             90.16
1 2020-11-14    AP  ...       0.01                             90.16
2 2020-11-13    AP  ...       0.01                             89.81
3 2020-11-12    AP  ...       0.01                             89.47
4 2020-11-11    AP  ...       0.01                             89.35

[5 rows x 13 columns]

### Coletando Informações Básicas do DataFrame

In [22]:
#Quantidades de linas e colunas do DataFrame
dados.shape

(974824, 13)

In [23]:
#Descrição do Index
dados.index

RangeIndex(start=0, stop=974824, step=1)

In [24]:
#Colunas Presetes no DataFrame
dados.columns

Index(['date', 'state', 'city', 'place_type', 'confirmed', 'deaths',
       'order_for_place', 'is_last', 'estimated_population', 'city_ibge_code',
       'confirmed_per_100k_inhabitants', 'death_rate',
       'deaths_covid_per_100K_inhabitants'],
      dtype='object')

In [25]:
#Contagem de Dados Não Nulos
dados.count()

date                                 974824
state                                974824
city                                 968230
place_type                           974824
confirmed                            974824
deaths                               974824
order_for_place                      974824
is_last                              974824
estimated_population                 971052
city_ibge_code                       971052
confirmed_per_100k_inhabitants       957481
death_rate                           974824
deaths_covid_per_100K_inhabitants    971052
dtype: int64

In [38]:
 #Informação sobre o período de tempo do DataFrame
 dados.date.max()-dados.date.min()

Timedelta('264 days 00:00:00')